In [1]:
pip install pydataxm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pydataxm
  Downloading pydataxm-0.3.2.tar.gz (3.3 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from pydataxm) (2.27.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pydataxm) (1.5.3)
Collecting datetime (from pydataxm)
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 3.9 MB/s eta 0:00:00
Collecting zope.interface (from datetime->pydataxm)
  Downloading zope.interface-6.0-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 kB 9.6 MB/s eta 0:00:00
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from datetime->pydataxm) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataxm) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->pydataxm) (1.22.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->pydataxm) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->pydataxm) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->pydataxm) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->pydataxm) (3.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pydataxm) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from zope.interface->datetime->pydataxm) (67.7.2)
Building wheels for collected packages: pydataxm
  Building wheel for pydataxm (setup.py) ... done
  Created wheel for pydataxm: filename=pydataxm-0.3.2-py3-none-any.whl size=3483 sha256=fca510d0255abe296b628d3961428405888e57910cbd02978c33e2e023afdeb1
  Stored in directory: /root/.cache/pip/wheels/21/a8/ff/7dbfb0451458bbbd9d4725ef38492c21adc0a978d3d104862b
Successfully built pydataxm
Installing collected packages: zope.interface, datetime, pydataxm
Successfully installed datetime-5.1 pydataxm-0.3.2 zope.interface-6.0

In [2]:
from pydataxm import *                           #Se realiza la importación de las librerias necesarias para ejecutar
import datetime as dt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
objetoAPI = pydataxm.ReadDB()

In [5]:
df_Gen = objetoAPI.request_data(
                        "Gene",           #Se indica el nombre de la métrica tal como se llama en el campo metricId
                        "Sistema",             #Se indica el nombre de la entidad tal como se llama en el campo Entity
                        dt.date(2022, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 12, 31)) #Corresponde a la fecha final de la consulta
df_Gen.head()

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,6761781.61,6584736.58,6435516.95,6330269.34,6252830.53,6211153.16,5886654.51,5912957.19,...,6662488.39,6614693.56,6691039.00,7575202.11,7774685.73,7654694.89,7437818.69,7130694.20,6796915.69,2022-01-01
1,Sistema,Sistema,6747292.23,6483225.92,6355468.69,6253929.47,6196955.31,6221160.69,6020478.09,6171268.44,...,7296271.11,7225972.44,7284964.46,8121711.76,8306058.19,8183232.58,7956464.78,7635190.32,7188241.72,2022-01-02
2,Sistema,Sistema,6918236.03,6731576.04,6613855.86,6577095.34,6639395.06,6810406.25,6904336.26,7370607.05,...,9114078.93,8920649.36,8741361.88,9455716.68,9582991.72,9356506.93,8939315.16,8390789.51,7752182.15,2022-01-03
3,Sistema,Sistema,7424779.25,7196260.00,6978341.54,6894719.34,6950553.18,7148726.90,7253591.67,7775972.98,...,9350168.46,9176784.86,8939150.65,9627868.83,9741892.51,9451057.83,9034247.68,8448940.75,7872857.06,2022-01-04
4,Sistema,Sistema,7485788.16,7183707.97,7040285.05,6945255.65,7018597.50,7190600.34,7311067.84,7755260.87,...,9394813.66,9236189.06,9089288.65,9739706.77,9849086.62,9567830.29,9153313.04,8566328.93,7994297.39,2022-01-05

In [6]:
df_Dem = objetoAPI.request_data(
                        "DemaReal",           #Se indica el nombre de la métrica tal como se llama en el campo metricId
                        "Sistema",             #Se indica el nombre de la entidad tal como se llama en el campo Entity
                        dt.date(2022, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 12, 31)) #Corresponde a la fecha final de la consulta
df_Dem.head(5)                          #Observar el encabezado del DataFrame extraido

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,6897187.17,6736317.93,6570547.19,6393690.16,6274671.97,6165748.15,5788415.17,5828724.15,...,6847545.92,6801357.88,6849130.34,7667241.99,7878393.82,7769417.39,7575119.25,7289069.86,6962904.32,2022-01-01
1,Sistema,Sistema,6646771.45,6373053.52,6241670.21,6135556.28,6089570.26,6112664.21,5928867.56,6168350.97,...,7449733.83,7386431.75,7453287.12,8289848.74,8467163.17,8342641.13,8098823.91,7779454.34,7366404.81,2022-01-02
2,Sistema,Sistema,6973351.69,6724609.26,6565908.17,6478238.30,6543986.04,6715408.43,6826851.22,7336042.09,...,9020252.57,8828752.14,8660298.29,9361404.91,9473471.04,9246105.16,8829838.22,8286847.14,7740020.46,2022-01-03
3,Sistema,Sistema,7346925.38,7074519.94,6856727.76,6771657.30,6819689.65,7025590.36,7146939.88,7665686.73,...,9212925.23,9037631.85,8819348.89,9496663.64,9600422.23,9303354.79,8884599.26,8304846.68,7754981.04,2022-01-04
4,Sistema,Sistema,7356582.05,7050673.87,6906448.25,6812581.29,6897281.13,7060571.17,7205242.14,7649200.07,...,9265107.74,9104052.43,8967457.53,9613067.83,9709922.39,9419672.69,9003097.04,8424584.13,7874083.42,2022-01-05

In [7]:
df_Price = objetoAPI.request_data(
                        "PrecBolsNaci",           #Se indica el nombre de la métrica tal como se llama en el campo metricId
                        "Sistema",             #Se indica el nombre de la entidad tal como se llama en el campo Entity
                        dt.date(2022, 1, 1),  #Corresponde a la fecha inicial de la consulta
                        dt.date(2022, 12, 31)) #Corresponde a la fecha final de la consulta
df_Price.head(5)

,Id,Values_code,Values_Hour01,Values_Hour02,Values_Hour03,Values_Hour04,Values_Hour05,Values_Hour06,Values_Hour07,Values_Hour08,...,Values_Hour16,Values_Hour17,Values_Hour18,Values_Hour19,Values_Hour20,Values_Hour21,Values_Hour22,Values_Hour23,Values_Hour24,Date
0,Sistema,Sistema,186.57681,186.57681,186.57681,198.25581,186.57681,186.57681,185.57681,183.55681,...,186.57681,186.57681,187.55681,224.57681,224.57681,224.57681,224.57681,224.57681,186.57681,2022-01-01
1,Sistema,Sistema,145.72632,145.72632,145.72632,145.72632,145.72632,145.72632,145.72632,145.72632,...,226.72632,188.70632,226.72632,257.72632,257.72632,257.72632,257.72632,257.72632,226.72632,2022-01-02
2,Sistema,Sistema,97.90116,188.15416,184.15416,97.90116,184.15416,198.85316,188.15416,205.17416,...,226.17416,226.17416,225.17416,226.17416,244.17416,226.17416,226.17416,205.17416,205.17416,2022-01-03
3,Sistema,Sistema,98.05722,98.05722,98.05722,98.05722,107.05722,107.05722,107.05722,107.05722,...,194.05722,194.05722,194.05722,224.05722,224.05722,194.05722,194.05722,194.05722,115.55722,2022-01-04
4,Sistema,Sistema,114.63114,114.63114,114.63114,114.63114,114.63114,114.63114,114.63114,114.63114,...,203.12114,203.12114,203.12114,206.13114,206.13114,206.13114,203.12114,203.12114,186.13114,2022-01-05